{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block page_title %}Post detail{% endblock page_title %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-9">

                <div class="card shadow my-3 p-5">
                    <h1>{{ post.title|capfirst }}</h1>
                    <span>
                        <p class="small text-muted mt-2">By: {{ post.author|capfirst }}</p>
                        <a href="{% url 'post_edit' post.id %}"><div class="btn btn-sm btn-warning">Edit</div></a>
                        <a href="{% url 'post_delete' post.id %}"><div class="btn btn-sm btn-danger">Delete</div></a>
                        <p class="mt-2">{{ post.text|linebreaksbr }}</p>
                    </span>
                </div>

                <div class="card shadow my-3 p-5">
                    <h3>Comments:</h3>
                    {% if comments %}
                        {% for comment in comments %}
                            <div class="border-bottom mb-3">
                                <h5 class="mb-3">{{ comment.user.username|capfirst }}:</h5>
                                <p class="text-secondary">Time Added: {{ comment.datetime_created }}</p>
                                <p>
                                    {{ comment.text|linebreaks }}
                                </p>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>No comments yet! Be the first one.</p>
                    {% endif %}
                </div>

                <div class="card shadow my-3 p-5">
                    <h3>Add new comment:</h3>
                    <form method="POST">
                        <form method="POST">
                            {% csrf_token %}
                            {{ comment_form|crispy }}
                            <button type="submit" class="btn btn-primary mt-3">ارسال</button>
                        </form>
                </div>
            </div>
            <div class="col-3">

                <div class="card my-4">
                    <h5 class="card-header">About</h5>
                    <div class="card-body">
                        <p class="card-text">We love python and django. So we created a blog site to share our
                            thoughts</p>
                        <a href="#"
                           class="btn btn-sm btn-danger">
                            More...
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock content %}